In [1]:
# Input three float numbers
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
num3 = float(input("Enter the third number: "))

# Calculate addition and average
addition = num1 + num2 + num3
average = addition / 3

# Print results
print(f"Addition: {addition}")
print(f"Average: {average}")

Enter the first number: 5
Enter the second number: 5
Enter the third number: 5
Addition: 15.0
Average: 5.0

In [2]:
import math

radius = 6
volume = (4/3) * math.pi * (radius ** 3)

print(f"Volume of the sphere: {volume:.2f} cubic cm")

Volume of the sphere: 904.78 cubic cm

In [3]:
import math

radius = float(input("Enter the radius of the circle: "))
area = math.pi * (radius ** 2)

print(f"Area of the circle: {area:.2f} square units")

Enter the radius of the circle: 4
Area of the circle: 50.27 square units

In [4]:
# Input principal, rate, and time
principal = float(input("Enter principal amount: "))
rate = float(input("Enter rate of interest: "))
time = float(input("Enter time in years: "))

# Calculate simple interest
interest = (principal * rate * time) / 100

print(f"Simple Interest: {interest:.2f}")

Enter principal amount: 124
Enter rate of interest: 5
Enter time in years: 4
Simple Interest: 24.80

In [5]:
# Input two numbers
a = float(input("Enter the first number: "))
b = float(input("Enter the second number: "))

# Swap values
a, b = b, a

print(f"Swapped values: a = {a}, b = {b}")

Enter the first number: 45
Enter the second number: 59
Swapped values: a = 59.0, b = 45.0

In [6]:
# Input temperature in Celsius
celsius = float(input("Enter temperature in Celsius: "))

# Convert to Fahrenheit
fahrenheit = (celsius * 9/5) + 32

print(f"Temperature in Fahrenheit: {fahrenheit:.2f}")

Enter temperature in Celsius: 56
Temperature in Fahrenheit: 132.80

In [7]:
days = int(input("Enter number of days: "))

years = days // 365
days %= 365
months = days // 30
days %= 30
weeks = days // 7
days %= 7

print(f"{years} years, {months} months, {weeks} weeks, {days} days")

Enter number of days: 12
0 years, 0 months, 1 weeks, 5 days

In [8]:
G = 6.67430e-11  # Gravitational constant in m^3 kg^-1 s^-2

m1 = float(input("Enter mass of first object (kg): "))
m2 = float(input("Enter mass of second object (kg): "))
d = float(input("Enter distance between objects (m): "))

force = G * (m1 * m2) / (d ** 2)

print(f"Gravitational force: {force:.2e} N")

Enter mass of first object (kg): 156
Enter mass of second object (kg): 257
Enter distance between objects (m): 47
Gravitational force: 1.21e-09 N

In [9]:
num = int(input("Enter a number: "))

if num % 2 == 0:
    print("The number is even.")
else:
    print("The number is odd.")

Enter a number: 5
The number is odd.

In [10]:
num = int(input("Enter a number: "))
difference = num - 15

if num > 15:
    print(f"Two times of difference: {2 * difference}")
else:
    print(f"Four times of difference: {4 * difference}")

Enter a number: 7
Four times of difference: -32

In [11]:
a = float(input("Enter first number: "))
b = float(input("Enter second number: "))
c = float(input("Enter third number: "))

largest = max(a, b, c)
print(f"The largest number is: {largest}")

Enter first number: 200
Enter second number: 183
Enter third number: 481
The largest number is: 481.0

In [12]:
a = float(input("Enter the first side: "))
b = float(input("Enter the second side: "))
c = float(input("Enter the third side: "))

if a == b == c:
    print("The triangle is equilateral.")
elif a == b or b == c or a == c:
    print("The triangle is isosceles.")
else:
    print("The triangle is scalene.")

Enter the first side: 5
Enter the second side: 6
Enter the third side: 7
The triangle is scalene.

In [13]:
year = int(input("Enter a year: "))

if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print("The year is a leap year.")
else:
    print("The year is not a leap year.")

Enter a year: 1600
The year is a leap year.

In [14]:
marks = [float(input(f"Enter marks for subject {i+1}: ")) for i in range(4)]
average = sum(marks) / 4

if average >= 75:
    grade = 'A'
elif average >= 60:
    grade = 'B'
elif average >= 40:
    grade = 'C'
else:
    grade = 'D'

print(f"Average marks: {average:.2f}")
print(f"Grade: {grade}")

Enter marks for subject 1: 85
Enter marks for subject 2: 94
Enter marks for subject 3: 78
Enter marks for subject 4: 63
Average marks: 80.00
Grade: A

In [15]:
print("Select operation:")
print("1. Add")
print("2. Subtract")
print("3. Multiply")
print("4. Divide")

choice = input("Enter choice (1/2/3/4): ")

num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

if choice == '1':
    result = num1 + num2
elif choice == '2':
    result = num1 - num2
elif choice == '3':
    result = num1 * num2
elif choice == '4':
    result = num1 / num2
else:
    result = "Invalid Input"

print(f"Result: {result}")

Select operation:
1. Add
2. Subtract
3. Multiply
4. Divide
Enter choice (1/2/3/4): 1
Enter first number: 12
Enter second number: 13
Result: 25.0

In [16]:
import math

a = float(input("Enter coefficient a: "))
b = float(input("Enter coefficient b: "))
c = float(input("Enter coefficient c: "))

discriminant = (b ** 2) - (4 * a * c)

if discriminant > 0:
    root1 = (-b + math.sqrt(discriminant)) / (2 * a)
    root2 = (-b - math.sqrt(discriminant)) / (2 * a)
    print(f"Roots are real and different. Root1 = {root1}, Root2 = {root2}")
elif discriminant == 0:
    root = -b / (2 * a)
    print(f"Root is real and same. Root = {root}")
else:
    realPart = -b / (2 * a)
    imaginaryPart = math.sqrt(-discriminant) / (2 * a)
    print(f"Roots are complex and different. Root1 = {realPart} + {imaginaryPart}i, Root2 = {realPart} - {imaginaryPart}i")

Enter coefficient a: 7
Enter coefficient b: 6
Enter coefficient c: 9
Roots are complex and different. Root1 = -0.42857142857142855 + 1.0497813183356477i, Root2 = -0.42857142857142855 - 1.0497813183356477i

In [17]:
n = int(input("Enter a number: "))

for i in range(1, n+1):
    print(i)

Enter a number: 16
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16

In [18]:
n = int(input("Enter a number: "))

sum_n = n * (n + 1) // 2
print(f"Sum of natural numbers up to {n} is: {sum_n}")

Enter a number: 16
Sum of natural numbers up to 16 is: 136

In [19]:
num = input("Enter a number: ")

sum_digits = sum(int(digit) for digit in num)
print(f"Sum of digits: {sum_digits}")

Enter a number: 256
Sum of digits: 13

In [20]:
num = int(input("Enter a number: "))

factors = [i for i in range(1, num + 1) if num % i == 0]
print(f"Factors of {num}: {factors}")

Enter a number: 158
Factors of 158: [1, 2, 79, 158]

In [21]:
num = input("Enter a number: ")

reverse_num = num[::-1]
print(f"Reverse of the number: {reverse_num}")

Enter a number: 89
Reverse of the number: 98

In [22]:
import math

num = int(input("Enter a number: "))
factorial = math.factorial(num)

print(f"Factorial of {num} is: {factorial}")

Enter a number: 5
Factorial of 5 is: 120

In [23]:
def is_palindrome(num):
    num_str = str(num)
    return num_str == num_str[::-1]

# Example usage
number = int(input("Enter a number: "))
if is_palindrome(number):
    print(f"{number} is a palindrome.")
else:
    print(f"{number} is not a palindrome.")

Enter a number: 252
252 is a palindrome.

In [24]:
def is_prime(num):
    if num <= 1:
        return False
    if num <= 3:
        return True
    if num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i * i <= num:
        if num % i == 0 or num % (i + 2) == 0:
            return False
        i += 6
    return True

# Example usage
number = int(input("Enter a number: "))
if is_prime(number):
    print(f"{number} is a prime number.")
else:
    print(f"{number} is not a prime number.")

Enter a number: 7
7 is a prime number.

In [25]:
def is_armstrong(num):
    num_str = str(num)
    num_digits = len(num_str)
    sum_of_powers = sum(int(digit) ** num_digits for digit in num_str)
    return num == sum_of_powers

# Example usage
number = int(input("Enter a number: "))
if is_armstrong(number):
    print(f"{number} is an Armstrong number.")
else:
    print(f"{number} is not an Armstrong number.")

Enter a number: 125
125 is not an Armstrong number.

In [26]:
def fibonacci(n):
    fib_series = [0, 1]
    while len(fib_series) < n:
        fib_series.append(fib_series[-1] + fib_series[-2])
    return fib_series

# Example usage
n = int(input("Enter the number of terms: "))
print("Fibonacci series:")
print(fibonacci(n))

Enter the number of terms: 8
Fibonacci series:
[0, 1, 1, 2, 3, 5, 8, 13]

In [27]:
def multiplication_table(n):
    for i in range(1, 11):
        print(f"{n} x {i} = {n * i}")

# Example usage
number = int(input("Enter a number to print its multiplication table: "))
multiplication_table(number)

Enter a number to print its multiplication table: 9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

In [28]:
user_input = input("Enter elements separated by spaces: ")
input_list = user_input.split()
print("The list is:", input_list)

Enter elements separated by spaces: the boy is a good person
The list is: ['the', 'boy', 'is', 'a', 'good', 'person']

In [29]:
def find_average(numbers):
    return sum(numbers) / len(numbers)

# Example usage
user_input = input("Enter numbers separated by spaces: ")
numbers = list(map(float, user_input.split()))
average = find_average(numbers)
print("The average is:", average)

Enter numbers separated by spaces: 89 95 96 100 78
The average is: 91.6

In [30]:
def find_largest(numbers):
    return max(numbers)

# Example usage
user_input = input("Enter numbers separated by spaces: ")
numbers = list(map(float, user_input.split()))
largest = find_largest(numbers)
print("The largest number is:", largest)

Enter numbers separated by spaces: 128 96 200 405
The largest number is: 405.0

In [31]:
def linear_search(arr, target):
    for index, value in enumerate(arr):
        if value == target:
            return index
    return -1

# Example usage
user_input = input("Enter numbers separated by spaces: ")
arr = list(map(int, user_input.split()))
target = int(input("Enter the number to search for: "))
index = linear_search(arr, target)
if index != -1:
    print(f"{target} found at index {index}.")
else:
    print(f"{target} not found in the list.")

Enter numbers separated by spaces: 1 45 7 6 8 10 9
Enter the number to search for: 8
8 found at index 4.

In [32]:
print("Enter lines of text (type 'END' to finish):")
lines = []
while True:
    line = input()
    if line == 'END':
        break
    lines.append(line.upper())

print("\nCapitalized lines:")
for line in lines:
    print(line)

Enter lines of text (type 'END' to finish):
hello to my world
END

Capitalized lines:
HELLO TO MY WORLD

In [33]:
user_input = input("Enter comma-separated numbers: ")
numbers = user_input.split(',')
numbers_list = list(numbers)
numbers_tuple = tuple(numbers)

print("List:", numbers_list)
print("Tuple:", numbers_tuple)

Enter comma-separated numbers: 24,32,15,18,20,37,21
List: ['24', '32', '15', '18', '20', '37', '21']
Tuple: ('24', '32', '15', '18', '20', '37', '21')

In [ ]:
def compute_net_amount(transactions):
    balance = 0
    for transaction in transactions:
        action, amount = transaction.split()
        amount = int(amount)
        if action == 'D':
            balance += amount
        elif action == 'W':
            balance -= amount
    return balance

# Example usage
print("Enter transactions (type 'END' to finish):")
transactions = []
while True:
    transaction = input()
    if transaction == 'END':
        break
    transactions.append(transaction)

net_amount = compute_net_amount(transactions)
print("Net amount:", net_amount)

Enter transactions (type 'END' to finish):